body {
  background-color: #bcc4db;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  margin: 5px;
}

img {
  height: 175px;
  border: #7880b5 solid 5px;
  margin: 10px;
}

.article-card {
  margin-left: auto;
  margin-right: auto;
  border: solid black 5px;
  margin-bottom: 5px;
  width: 500px;
  text-align: center;
}

.articles-header {
  text-align: center;
}

.article-details {
  display: flex;
  margin: 10px;
  text-align: left;
}

.article-body {
  text-align: justify;
}

.like-image {
  margin: 2px;
  height: 50px;
}

.comment-card{
  border: white solid 5px;
  margin-bottom: 2px;
  text-align: left;
  
}

ul{
  list-style: none;
  margin: 5px
}
