body{
  background-color: #BCC4DB;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  margin: 5px;
}

img {
  height: 100px;
  border: #7880B5 solid 5px,
}

.article-card {
  margin-left: auto;
  margin-right: auto;
  border: solid black 5px;
  margin-bottom: 5px;
  width: 500px;
  text-align: center;
}

.articles-header {
  text-align: center;
}

.article-details{
  display: flex;
  margin: 5px;
}

.article-body{
  text-align: justify;
}
